<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
			  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			  http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
			  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
			  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	 
	<context:component-scan base-package="com.appspot.egun.money.ws" />
	<context:component-scan base-package="com.appspot.egun.money.comp.process.logic" />
	<context:component-scan base-package="com.appspot.egun.money.comp.service.logic" />
	
	<bean id="persistenceManagerFactory" class="org.springframework.orm.jdo.LocalPersistenceManagerFactoryBean">
		<property name="persistenceManagerFactoryName" value="EGUNMONEY-DATASTORE" />
	</bean>
	
	<!-- 
	<bean id="persistenceManagerFactoryProxy" class="org.springframework.orm.jdo.TransactionAwarePersistenceManagerFactoryProxy">
		<property name="targetPersistenceManagerFactory" ref="persistenceManagerFactory" />
		<property name="allowCreate" value="false" />
	</bean>
	-->
	
	<bean id="transactionManager" class="org.springframework.orm.jdo.JdoTransactionManager">
		<property name="persistenceManagerFactory" ref="persistenceManagerFactory" />
	</bean>
	
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
	    <tx:attributes>
	      <tx:method name="create*" propagation="REQUIRED" />
	      <!-- 
	      <tx:method name="modify*" propagation="REQUIRED" />
	      <tx:method name="remove*" propagation="REQUIRED" />
	      <tx:method name="get*" propagation="REQUIRED" />
	      <tx:method name="find*" propagation="REQUIRED" />
		   -->
	      <tx:method name="*" read-only="true" />
	    </tx:attributes>
	</tx:advice>
	
	<aop:config>
		<aop:pointcut id="serviceOperation" expression="execution(* com.appspot.egun.money.process.*Process.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceOperation" />
	</aop:config>
</beans>