<settings xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0
	http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<localRepository>E:\egun-money\dev\repo</localRepository>

	<servers>
		<server>
			<id>appengine.google.com</id>
			<username>egunmoney@gmail.com</username>
			<password>08210103</password>
		</server>
	</servers>

	<profiles>
		<profile>
			<id>dev</id>

			<repositories>
				<repository>
					<id>DataNucleus_Repos</id>
					<name>DataNucleus Repository</name>
					<url>http://www.datanucleus.org/downloads/maven</url>
					<layout>legacy</layout>
				</repository>
				<repository>
					<id>DataNucleus_Repos2</id>
					<name>DataNucleus Repository</name>
					<url>http://www.datanucleus.org/downloads/maven2</url>
				</repository>
				<repository>
					<id>maven-gae-plugin-repo</id>
					<name>maven-gae-plugin repository</name>
					<url>http://maven-gae-plugin.googlecode.com/svn/repository</url>
				</repository>
				<repository>
					<id>maven2-repository.dev.java.net</id>
					<name>Java.net Repository for Maven</name>
					<url>http://download.java.net/maven/2/</url>
					<layout>default</layout>
				</repository>
				<repository>
					<id>maven-repository.dev.java.net</id>
					<name>Java.net Maven 1 Repository (legacy)</name>
					<url>http://download.java.net/maven/1</url>
					<layout>legacy</layout>
				</repository>
			</repositories>


			<pluginRepositories>
				<pluginRepository>
					<id>maven-gae-plugin-repo</id>
					<name>maven-gae-plugin repository</name>
					<url>http://maven-gae-plugin.googlecode.com/svn/repository</url>
				</pluginRepository>
				<pluginRepository>
					<id>DataNucleus_2</id>
					<url>http://www.datanucleus.org/downloads/maven2/</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>

	<activeProfiles>
		<activeProfile>dev</activeProfile>
	</activeProfiles>
</settings>
